@media screen and (max-width: 1024px) {
    .card{
        width: 95% !important;
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (max-width: 1024px) and (orientation:landscape) {}